body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #612222dd;
}

.baslik {
    color: #000734;
}

nav {
    margin-bottom: 20px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #a6a6a6;
    font-weight: bold;
}

nav a:hover {
    color: #561919;
}

.urun-listesi {
    list-style-position: inside;
    padding: 0;
}

.urun-listesi li {
    margin-bottom: 30px;
}

img {
    width: 150px;
}
